# Ambiente Virtual
venv/
*.env

# Arquivos de cache Python
*.pyc
__pycache__/

# Configurações de IDE
.vscode/
.idea/

# Arquivos de log
*.log

# Outros arquivos temporários
*.tmp

# Arquivos de teste
teste*.py
web_version/
